<launch>
    <arg name="pc_topic" default="/head_camera/depth_registered/points" />
    <include file="$(find fetch_api)/launch/ar_desktop.launch">
        <arg name="cam_image_topic" value="$(arg pc_topic)" />
    </include>
    <include file="$(find applications)/launch/navigation.launch" />
</launch>
