<launch>
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
    <include file="$(find applications)/launch/navigation.launch" />
    <node pkg="shuguru" type="command_server.py" name="command_server" output="screen"/>
    <node pkg="shuguru" type="state_machine.py" name="state_machine" output="screen"/>
</launch>
